* {
  margin: 0;
  padding: 0;
}

.maindiv {
  width: 100%;
  /* background-color: aqua; */

  display: flex;
  flex-direction: column;

  align-items: center;
}

.headsection {
  padding: 30px 0px;
  display: flex;
}
.proifle {
  position: absolute;
  right: 65px;
  top: 50px;
}

.profileTile {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 150px; /* Initially positioned outside the viewport on the right */
  top: 50px;
  color: rgba(255, 255, 255, 0.707);
  padding-right: 20px;
  padding-left: 30px;
  height: 80px;
  z-index: 0;
  background-color: #1d56729e;
  /* background-color: #0a70e6; */
  border-radius: 50px;
  opacity: 0;
  animation: slideAndFadeIn 0.6s forwards; /* Apply the animation */
}

@keyframes slideAndFadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px); /* Start the animation from right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Move to original position */
  }
}


.profileTile div button {
  background-color: rgb(146, 9, 9);
  color: rgba(255, 255, 255, 0.707);
}
.profileTile div button:hover {
  background-color: rgb(171, 17, 17);
  color: rgb(255, 255, 255);
}
.proifle img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 6px solid #1d56729e;
  z-index: 10;
}
.proifle :hover {
  border: 6px solid rgba(29, 86, 114, 0.84);
  right: 69px;
  top: 49px;
  cursor: pointer;
}

.profile-details {
  position: absolute;
  right: 69px;
  top: 49px;
  color: white;
  transform: translateX(-50%);
  background-color: #ffffff0a;
  padding: 10px;
  border: 1px solid #cccccc2e;
  border-radius: 5px;
  display: none; /* Hide the box by default */
}

.proifle:hover .headsection {
  display: flex;
  background-color: red;
}

.maindiv h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  padding-right: 100px;
}

.maindiv input {
  background-color: rgba(255, 255, 255, 0.097);
  border: none;

  border-radius: 6px;
  padding: 20px;
  width: 400px;
  height: 10px;
  font-size: 17px;
  color: white;
}
.maindiv button {
  background-color: rgba(255, 255, 255, 0.097);
  display: flex;

  border: none;
  border-radius: 7px;
  margin-left: 20px;
  padding: 10px;
}

@media only screen and (max-width: 960px) {
  .maindiv input {
    padding: 15px;
    width: 350px;
  }
}

@media only screen and (max-width: 720px) {
  .maindiv input {
    padding: 15px;
    width: 300px;
  }
}
@media only screen and (max-width: 640px) {
  .maindiv input {
    padding: 15px;
    width: 210px;
    height: 30px;
  }
  .proifle {
    position: absolute;
    right: 25px;
    top: 32px;
  }
  .proifle img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid #1d56729e;
  }
  .profileTile {
    
    right: 20px;
    top: 110px;
    color: rgba(255, 255, 255, 0.707);
    padding-right: 20px;
    padding-left: 30px;
    height: 80px;
    z-index: 0;
    background-color: #1d5672;
    border-radius: 50px 50px 50px 50px;
  }
}

#lineh {
  margin-top: 50px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 1px rgb(91, 91, 123);
  width: 80%;
  height: 1px;
}
.maindiv form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#addimg:hover {
  background-color: rgba(26, 165, 96, 0.582);
}

#addimg {
  background-color: rgba(26, 165, 96, 0.359);
}
