.siginContainer {
  animation: slideInFromBottom 1.5s forwards;
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(150%);
    opacity: 0; 
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.singInBTN {
  opacity: 100%;
}
.singInBTN:hover {
  cursor: pointer;
  opacity: 100%;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%); 
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1; 
  }
}

.signinmaincontainer {
  animation: slideInFromTop 1s forwards;
}

.dot1 {
  margin-left: -15px;
  animation: slideInFromTopslow 2s forwards infinite;
}
.dot2 {
  margin-left: -17px;
  animation: slideInFromTopslow 2.1s forwards infinite;
}
.dot3 {

  animation: slideInFromTopslow 2.2s forwards infinite;
}


@keyframes slideInFromTopslow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

@media only screen and (max-width:600px) {
    #tickimg{
    
        height: 100px;
    }
    .headingH1{
    
       display: flex;
    }
    .dot1 {
        margin-left: -1px;
        
      }
      #totalContainer{
        margin-bottom: 300px;
      }
     
}